body {
  background-color: #FFFEF2;
  background-image: none;
  overflow-x: hidden;
}
h1 {
  font-size: 2.5em;
  padding: 5px;
  padding-left: 30px;
  color: black;
}

.tt-page {
  margin-bottom: 20px;
}
.tt-page h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: black;
}

th {
  font-weight: normal;
}

#breadboard-and-chat-wrapper, #image-wrapper, #notes-wrapper {
  width: 740px;
  margin: 0 auto;
  border: 2px solid black;
  background-color: white;
}
#breadboard-and-chat-wrapper.multiple-clients, #image-wrapper.multiple-clients, #notes-wrapper.multiple-clients {
  width: 936px;
}
#breadboard-and-chat-wrapper {
  position: relative;
  height: 500px;
}
#breadboard-wrapper.multiple-clients {
  width: 740px;
  position: absolute;
}
#sidebar-chat-wrapper.multiple-clients  {
  width: 200px;
  position: absolute;
  right: 0;
}
#image-wrapper {
  padding-top: 10px;
}

#enter-unknowns {
  float: right;
  padding: 10px;
  width: 165px;
  background-color: #ddd;
  margin-right: 10px;
  margin-top: 20px;
}
#enter-unknowns input {
  width: 50px;
}
#enter-unknowns select {
  padding: .2em 5px;
  border: 1px solid #a1d2d1;
  margin-top: 5px;
}

/* fix bug in MathPad overlay - the breadboard svg 'bleeds though' the MathPad overlay at full opacity and steals focus */
#breadboard-wrapper {
  opacity: 0.9999;
}

/*
.tt-notes:before{
  font-weight:700;
  content:"Notes:";
  display:block;
}
*/

#chat {
  position: relative;
}

#messages {
  position: relative;
  height: 103px;
  width: 607px;
  overflow: scroll;
}

#input {
  padding: 3px;
  padding-left: 10px;
  border-top: 1px solid #DDD;
}

.chat {
  padding: 2px;
  padding-left: 10px;
}

.chat.me {
  background-color: #eef;
}

#image-wrapper {
  text-align: left;
}

#values {
  position: absolute;
  top: -12px;
  right: 9px;
}

.stale {
  color: #CCC;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 1200ms ease-in;
  -moz-transition: opacity 1200ms ease-in;
  transition: opacity 1200ms ease-in;
}
#submit-popup {
  z-index: 80000;  /* place it under the waiting room message */
}
.modalDialog > form {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #D0D0D0);
  background: -webkit-linear-gradient(#fff, #D0D0D0);
  background: -o-linear-gradient(#fff, #D0D0D0);
}

form label {
  display: block;
  margin: 0px;
}
form label>span {
  width: 20%;
  text-align: right;
  padding-right: 10px;
  margin-top: 15px;
  color: #646464;
}
form input[type="text"] {
  border: 1px solid #DADADA;
  color: #888;
  height: 30px;
  margin-bottom: 9px;
  margin-right: 6px;
  margin-top: 9px;
  outline: 0 none;
  padding: 3px 3px 3px 5px;
  width: 70%;
  font-size: 12px;
  line-height:15px;
  box-shadow: inset 0px 1px 4px #ECECEC;
  -moz-box-shadow: inset 0px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
form li {
  margin: 0;
  margin-left: 1em;
}
form .error {
  color: red;
}
form button:disabled {
  background-color: #CCC;
}

#chat form input[type="text"] {
  width: 65%;
}

/* from http://thecodeplayer.com/walkthrough/javascript-css3-calculator */

/* Using box shadows to create 3D effects */
#calculator, #open-calculator {
  position: absolute;

  /* the top & right positions are set in the component */

	width: 292px;
	height: auto;

	padding: 0 20px 19px;

  font: bold 14px Arial, sans-serif;

	background: #8A8F92;
	background: linear-gradient(#8A8F92, #5E666B);
	border-radius: 11px;
	box-shadow: 0px 4px #223E4A, 0px 10px 15px rgba(0, 0, 0, 0.2);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  border-radius: 9px;
}
#calculator {
  cursor: move;
}
#open-calculator {
  background: #f3951d;
  box-shadow: 0px 4px #AF6507, 0px 10px 15px rgba(0, 0, 0, 0.2);
  color: white;
  width: auto;
	padding: 10px;
  cursor: pointer;
}

#calculator .top {
  position: relative;
}

#calculator .top .memory {
  position: absolute;
  left: 3px;
  top: 4px;
  color: white;
  font-size: 12px;
}
#calculator .top .memory.hidden {
  display: none;
}

/* Top portion */
#calculator .top span.clear {
	float: left;
}

#calculator .very-top {
  margin: 10px 0;
}

#calculator .very-top span.title {
	float: left;
  padding: 5px 0;
}
#calculator .very-top span.close {
	float: right;
  position: relative;
  padding: 3px 5px;
	background: #ff9fa8;
	box-shadow: 0px 3px #ff7c87;
	color: white;
	user-select: none;
	transition: all 0.2s ease;
  cursor: pointer;
}
.tutorial-calculator-close {
  padding: 3px 5px;
	background: #ff9fa8;
	box-shadow: 0px 3px #ff7c87;
	color: white;
	user-select: none;
}

#calculator .very-top span.close:hover {
	background: #f68991;
	box-shadow: 0px 4px #d3545d;
	color: white;
}
#calculator .very-top span.close:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}

#calculator .top {
  padding-bottom: 9px;
}

/* Inset shadow on the screen to create indent */
#calculator .top .screen {
	height: 40px;
	width: 285px;

  margin: 0;
	padding: 0 10px;
	box-sizing: border-box;


	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);

	/* Typography */
	font-size: 17px;
	line-height: 40px;
	color: white;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	text-align: right;
	letter-spacing: 1px;
}

#calculator .top .screen-error {
  background: #ff9fa8;
}

/* Clear floats */
#calculator .keys, #calculator .top, #calculator .topRow {overflow: hidden;}

/* Applying same to the keys */
#calculator .keys span, #calculator .top span.clear, #calculator .topRow span {
	float: left;
	position: relative;
	top: 0;

	cursor: pointer;

	width: 67px;
	height: 36px;

	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

	margin: 0 3px 11px 3px;

  font-size: 17px;

	color: #888;
	line-height: 36px;
	text-align: center;

	/* prevent selection of text inside keys */
	user-select: none;

	/* Smoothing out hover and active states using css3 transitions */
	transition: all 0.2s ease;
}

#calculator .topRow span {
  height: 23px;
  width: 52px;
  line-height: 24px;
  font-size: 15px;
}

#calculator .topRow span.clear {
  background: #FF7777;
  color: white;
}

#calculator .topRow span.memory {
  background: black;
  color: white;
}

/* Remove right margins from operator keys */
/* style different type of keys (operators/evaluate/clear) differently */
#calculator .keys span.operator {
	background: #FFE4C8;
  font-family: serif;
  font-size: 24px;
}
#calculator .keys span.operator.multiply {
  font-family: sans-serif;
  font-weight: lighter;
}
#calculator .topRow span.eval.squareroot {
  font-family: monospace;
}

#calculator .keys span.operator-right {
	margin-right: 0;
}


#calculator .keys span.eval, #calculator .topRow span.eval {
	background: #f1ff92;
	box-shadow: 0px 4px #9da853;
	color: #888e5f;
}

#calculator .top span.clear {
	background: #ff9fa8;
	box-shadow: 0px 4px #ff7c87;
	color: white;
}

/* Some hover effects */
#calculator .keys span:hover, #calculator .topRow span:hover {
  opacity: 0.7;
  color: #555;
	box-shadow: 0px 4px #2E2B40;
}

#calculator .keys span.eval:hover, #calculator .topRow span.eval:hover {
  opacity: 0.7;
  color: #555;
	box-shadow: 0px 4px #717a33;
}

#calculator .topRow span.clear:hover, #calculator .topRow span.memory:hover {
  color: white;
}

/* Simulating "pressed" effect on active state of the keys by removing the box-shadow and moving the keys down a bit */
#calculator .keys span:active, #calculator .topRow span:active {
	box-shadow: 0px 0px #6b54d3;
	top: 4px;
}

#calculator .keys span.eval:active, #calculator .topRow span.eval:active {
	box-shadow: 0px 0px #717a33;
	top: 4px;
}

#calculator .topRow span.clear:active {
	top: 4px;
	box-shadow: 0px 0px #d3545d;
}

.tt-notes {
  padding: 10px;
}

#top-button-wrapper {
  text-align: center;
  padding: 10px;
}

#top-button-wrapper button {
  margin: 0 10px;
}

#user-registration select {
  font-size: 1.3em;
}

.submit-button-popup {
  width: 700px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #D0D0D0);
  background: -webkit-linear-gradient(#fff, #D0D0D0);
  background: -o-linear-gradient(#fff, #D0D0D0);

  text-align: center;
}

.submit-button-popup  h1 {
  padding: 0;
}

.submit-button-popup  table {
  margin: 1em auto;
}

.submit-button-popup td.correct {
  color: #070;
}
.submit-button-popup td.incorrect {
  color: #700;
}
.submit-button-popup td.waiting {
  color: #007;
}

.sidebar-chat .sidebar-chat-items {
  padding: 10px;
  overflow: auto;
  height: 370px;
  background-color: #fff;
}
.sidebar-chat .sidebar-chat-items .chat-item {
  clear: both;
  margin-bottom: 5px;
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  word-wrap: break-word;
  max-width: 135px;
}
.sidebar-chat .sidebar-chat-items .chat-item-me {
  float: right;
  background-color: #37edc1;
}
.sidebar-chat .sidebar-chat-items .chat-item-others {
  float: left;
  background-color: #86c6ff;
}
.sidebar-chat .sidebar-chat-items .chat-item-system {
  color: #666;
  line-height: 16px;
}
.sidebar-chat .sidebar-chat-type {
  margin: 0 0 5px 0;
}
.sidebar-chat .sidebar-chat-input {
  padding: 10px;
  background-color: #fff;
}
.sidebar-chat .sidebar-chat-input textarea {
  width: 170px;
  height: 60px;
  resize: none;
}
.sidebar-chat .sidebar-chat-input button {
  margin-top: 5px;
}

#connection-status {
  margin: 0 auto;
  width: 70px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.9em;
}

#connection-status>div{
  background: #0f0;
  width: 1.1em;
  height: 1.1em;
  border: 1px solid black;
  border-radius: 100px;
  margin: 0.5em;
  margin-top: 0.1em;
  float: left;
}

#connection-status>div.offline{
  background: #f00;
}

#connection-alert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 25% auto;
  width: 415px;
  height: 180px;
  background-color: #fee;
  border: 3px solid black;
  box-shadow: 0 0 50px #fff;
  padding: 1.5em;
  z-index: 100001;
}

#connection-alert>p {
  padding: 0.3em;
}

#connection-alert-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.25;
  z-index: 100000;
}

.other-circuits-button-popup {
  width: 760px;
  position: relative;
  margin: 25px auto;
  padding: 5px 20px 13px 20px;
  border-radius: 5px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #D0D0D0);
  background: -webkit-linear-gradient(#fff, #D0D0D0);
  background: -o-linear-gradient(#fff, #D0D0D0);

  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  height: 90%;
}

.other-circuits-button-popup  h1 {
  padding: 0;
}

.other-circuits-button-popup .links {
  margin: 10px 0;
}
.other-circuits-button-popup .links a {
  margin: 0 10px;
  font-size: 18px;
}
.other-circuits-button-popup .links a.selected {
  font-weight: bold;
}
.other-circuits-button-popup .iframes {
  margin: 10px 0;
}

.circuit-board {
  width: 740px;
}

.ribbon {
  background-color: #ddd;
}
.bus {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ddd;
}

.alert-background {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
}
.alert-window-wrapper {
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.alert-window {
  background: #fff;
  color: #000;
  margin: 25% auto;
  width: 350px;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
}
.alert-message {
  padding: 10px 0;
  text-align: center;
}
.alert-button-wrapper {
  text-align: center;
}

.version-wrapper {
  margin-top: 20px;
  clear: both;
  color: #aaa;
  font-size: 12px;
}
.version-info {
  text-align: center;
  margin: 10px 0;
}
.version-info a {
  transition: opacity 0.5s ease;
  text-decoration: none;
  margin-top: 5px;
  color: #aaa;
  opacity: 0;
}
.version-info a:hover {
  opacity: 1;
}

body.homepage {
  font-family: Arial, Helvetica, sans-serif;
}

body.homepage h1 {
  margin: 20px;
  padding: 0;
}

body.homepage h2 {
  text-align: left;
  margin: 20px;
}

table.report  {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
table.report td {
  vertical-align: middle;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 32px;
}

.tutorial {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 140px;
  overflow: hidden;
  z-index: 100000000;
}
.other-circuits-popup-with-tutorial {
  top: 140px !important;
}
.below-tutorial-showing {
  margin-top: 140px !important;
}
.tutorial-block-free-play {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000000;
}
.tutorial-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00f;
}
.tutorial-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tutorial-step {
  font-size: 18px;
  margin: 5px;
  font-weight: bold;
}
.tutorial-step-title {
  font-size: 18px;
  margin: 5px;
}
.tutorial-step-text {
  font-size: 14px;
  margin: 5px;
}
.tutorial-step-text button {
  font-size: 12px;
}
.below-tutorial {
  position: relative;
}

.waiting-room {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 90000;
}
.waiting-room-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.7;
}
.waiting-room-message {
  color: #fff;
  font-size: 32px;
  z-index: 90001;
  margin: 20%;
}

.circuit-debugger {
  position: absolute;
  bottom: 10px;
  right: 10px;
  left: 10px;
  height: 300px;
  overflow: auto;
  background-color: #fff;
  border: 1px solid #000;
}

.circuit-debugger-inner {
  margin: 10px;
}

.circuit-debugger table {
  width: 100%;
  font-size: 12px;
}

.circuit-debugger table th {
  text-align: left;
  font-weight: bold;
}

.debug-hover {
  margin: 5px;
  font-size: 12px;
  font-family: monospace;
  display: inline-block;
}